# Entornos virtuales de Python
venv/
*.venv
env/
ENV/

# Archivos de caché y compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración específicos del editor/IDE
.vscode/
.idea/
*.swp
*~

# Archivos de variables de entorno (si los usas)
.env
.env.*

# Otros
*.log